$Orange: #EF9563;
$Purple: #9B84FB;
$Blue: #8295EE;
$White: #FFFFFF;
$menu_background: #FAFAFA;
$Grey: #888992;
$menu_yellow: #FFBA49;
$menu_grey: #B2B2B2;
$text_grey: #6B6B6B;
$stories_border: #E4E4E4; //добавить прозрачность
$black: #231F20;
$text_lightGrey: #C5C5C5;
$Green: #44BE93;
$background: #F4F4F4;
$background_z1: #ECECEC;
$border: #DCDCDC;
$Red: #FC6767;
$green_2: #44BE93; //добавить прозрачность
