@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/functions';

.main {
  background-color: $background;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  &-title {
    padding-top: 24px;
    max-width: 713px;
    margin: 0 auto;
  }
  &-text {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
    line-height: 24px;
  }


  &-button {
    margin: 32px auto;
    display: block;
    padding: 16px 32px;
    color: $White;
    background-color: $Green;
    border-radius: 34px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  padding-bottom: 32px;
  .header-text {
    display: none;
  }
  @include media(375px) {
    border-bottom-left-radius: scaledPixels(32);
    border-bottom-right-radius: scaledPixels(32);
    &-title {
      padding-top: scaledPixels(8);
    }
    &-text {
      margin-top: scaledPixels(16);
      font-size: scaledPixels(16);
      line-height: scaledPixels(20);
      text-align: left;
    }
    &-button {
      margin: scaledPixels(32) auto;
      padding: scaledPixels(16) scaledPixels(32);
      border-radius: scaledPixels(34);
      font-size: scaledPixels(16);
      line-height: scaledPixels(24);
      margin-bottom: 0;
      width: 100%;
    }
    padding-bottom: scaledPixels(24);
    .header-text {
      display: block;
      font-weight: 600;
      font-size: scaledPixels(14);
      line-height: scaledPixels(20);
      color: $black;
      opacity: 0.7;
    }
  }
}
