@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/functions';

.section-advertising {
  h2 {
    margin: 120px auto 64px;
    max-width: 720px;
  }
  .advertising {
    display: flex;
    background-color: $background;
    border-radius: 24px;
    min-height: 256px;
    &_left {
      margin: 56px 38px 56px 64px;
      max-width: 352px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &-title {
        margin-bottom: 8px;
      }
      &-text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $black;
        max-width: 265px;
      }
    }
    &_right {
      flex: 1;
      max-width: 408px;
      display: flex;
      img {
        width: 100%;
        height: 100%;
      }
      &-mobile {
        display: none;
        background-size: cover;
      }
    }
    @include media(860px) {
      flex-direction: column;
      margin: 0;
      width: 100%;
      &_left {
        margin: 56px 10px;
        max-width: inherit;
        &-title,&-text {
          text-align: center;
          max-width: fit-content;
          margin: 0 auto;
        }
      }
      &_right {
        margin: 0 auto;
        min-height: 256px;
        background-repeat: no-repeat;
        background-position: bottom;
      }
    }
  }
  @include media(375px) {
    h2 {
      margin: scaledPixels(24) 0;
    }
    .advertising {
      border-radius: scaledPixels(24);
      &_left {
        margin: scaledPixels(32);
        max-width: 352px;
        margin-bottom: 0;
        &-title{
          text-align: left;
          margin-bottom: scaledPixels(8);
        }
        &-text {
          text-align: left;
          margin-bottom: scaledPixels(12);
          font-size: scaledPixels(14);
          line-height: scaledPixels(20);
        }
      }
      &_right {
        display: none;
        &-mobile {
          display: block;
          background-size: cover;
          background-position: bottom;
          min-height: scaledPixels(458);
        }
      }
    }
  }
}
